<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.aviaryan.cfbuddy">

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- content provider -->
        <provider
            android:name=".data.DataProvider"
            android:authorities="in.aviaryan.cfbuddy"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.BlogDetailActivity"
            android:label="Blog Viewer"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <!-- search user -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.UserActivity" />

        <activity
            android:name=".ui.UserActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/user_searchable" />
        </activity>
        <activity
            android:name=".ui.ProblemDetailActivity"
            android:label="@string/label_problem_details"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <service
            android:name=".service.MyIntentService"
            android:exported="false" />


        <!-- widget -->
        <receiver
            android:name=".widget.WidgetProvider"
            android:icon="@android:drawable/arrow_up_float"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="in.aviaryan.cfbuddy.widget.APP_OPEN" />
                <action android:name="in.aviaryan.cfbuddy.widget.UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_info" />
        </receiver>

        <activity android:name=".widget.WidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <!-- Widget service -->
        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>